{% extends 'base.html.twig' %}

{% block title %}{{ siteProp.getMetaTitle() }}{% endblock %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Создать пост</h2>
                        <div class="content">
                            {{ form_start(form) }}

                            {{ form_row(form.name) }}
                            {{ form_row(form.hidden) }}
                            {#{{ form_row(form.short_text) }}#}
                            <div class="form-group">
                                <textarea id="blog_short_text" name="blog[short_text]" placeholder="Превью" class="textarea-middle-size form-control blog_text"></textarea>

                            </div>
                            <div class="form-group">
                                <textarea id="blog_full_text" name="blog[full_text]" placeholder="Полный текст" class="textarea-big-size form-control blog_text"></textarea>

                            </div>
                            {{ form_row(form.save) }}
                            {{ form_row(form._token) }}
                            {#
                            {{ form_row(form, {'label': 'short_text'}) }}
                            {{ form_row(form, {'label': 'full_text'}) }}
                            #}
                            {# {{ form_widget(form) }} #}


                            {#

                            <p>base64: <br> <textarea id="base64" placeholder="" style="width:100%"></textarea></p>
                            <img id="contenteditable" src="">
                            <hr>
                            <img id="done" src="">
                            #}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section>
            </div><!--//primary-->

            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Контактная информация</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Город:</span>Москва, Россия</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:info@mpakfm.ru">info@mpakfm.ru</a></li>
                                <li><i class="fas fa-phone-alt"></i><span class="sr-only">Phone:</span><a href="tel:+79067945511">+7(906) 794-55-11</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://mpakfm.ru">https://mpakfm.ru</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}
