{% extends 'base.html.twig' %}

{% block title %}{{ element.name }} / Блог / {{ meta.title }}{% endblock %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper blog">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">{{ element.name }}</h2>
                        <div class="content-datetime">{% if element.getUpdated() %}{{ element.getUpdatedRussian('d f H:i') }}{% else %}{{ element.getCreatedRussian('d f H:i') }}{% endif %}</div>
                        <div class="content">
                            {{ element.getShortText()|raw }}
                            {{ element.getFullText()|raw }}
                            {% if access_edit %}
                                <div class="post-action">
                                    <button class="js-post-edit btn btn-sm btn-info" data-id="{{ element.id }}">редактировать</button>
                                    <button class="js-post-delete btn btn-sm btn-danger" data-id="{{ element.id }}">удалить</button>
                                    <button class="js-post-hidden btn btn-sm {% if element.getHidden() %}btn-info{% else %}btn-secondary{% endif %}" data-id="{{ element.id }}">{% if element.getHidden() %}показать{% else %}спрятать{% endif %}</button>
                                </div>
                            {% endif %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section>
            </div><!--//primary-->

            <div class="secondary col-lg-4 col-12">
                {# contact #}
                {% include "contact.html.twig" %}

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}
