{% extends 'base.html.twig' %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper blog">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                {% for item in elements %}
                <section data-post="{{ item.id }}" class="latest section {% if item.getHidden() %}post-hidden{% endif %}">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading"><a href="/blog/{{ item.code }}">{{ item.name }}</a></h2>
                        <div class="content-datetime">{% if item.getUpdated() %}{{ item.getUpdatedRussian('d f H:i') }}{% else %}{{ item.getCreatedRussian('d f H:i') }}{% endif %}</div>
                        <div class="content">
                            {{ item.getShortText()|raw }}
                            {% if item.getFullText() != '' %}
                                <div class="post-more">
                                    <a href="/blog/{% if item.alias %}{{ item.alias }}{% else %}{{ item.code }}{% endif %}">далее</a>
                                </div>
                            {% else %}
                                <div class="post-more">
                                    <a href="/blog/{% if item.alias %}{{ item.alias }}{% else %}{{ item.code }}{% endif %}">ссылка на запись</a>
                                </div>
                            {% endif %}
                            {% if access_edit %}
                                <div class="post-action">
                                    <button class="js-post-edit btn btn-sm btn-info" data-id="{{ item.id }}">редактировать</button>
                                    <button class="js-post-delete btn btn-sm btn-danger" data-id="{{ item.id }}">удалить</button>
                                    <button class="js-post-hidden btn btn-sm {% if item.getHidden() %}btn-info{% else %}btn-secondary{% endif %}" data-id="{{ item.id }}">{% if item.getHidden() %}показать{% else %}спрятать{% endif %}</button>
                                </div>
                            {% endif %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section>
                {% endfor %}
            </div><!--//primary-->

            <div class="secondary col-lg-4 col-12">
                {# contact #}
                {% include "contact.html.twig" %}

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}
