{% extends 'base.html.twig' %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper blog">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                {% for item in elements %}
                <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading"><a href="/blog/{{ item.code }}">{{ item.name }}</a></h2>
                        <div class="content-datetime">{{ item.getCreatedRussian('d f H:i') }}</div>
                        <div class="content">
                            {{ item.getShortText()|raw }}
                            {% if item.getFullText() != '' %}
                                <div class="post-more">
                                    <a href="/blog/{{ item.code }}">далее</a>
                                </div>
                            {% endif %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section>
                {% endfor %}
            </div><!--//primary-->

            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Контактная информация</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Город:</span>Москва, Россия</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:info@mpakfm.ru">info@mpakfm.ru</a></li>
                                <li><i class="fas fa-phone-alt"></i><span class="sr-only">Phone:</span><a href="tel:+79067945511">+7(906) 794-55-11</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://mpakfm.ru">https://mpakfm.ru</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}
