{% extends 'base.html.twig' %}

{% block title %}{{ siteProp.getMetaTitle() }}{% endblock %}

{% block body %}
    <!-- ******HEADER****** -->
    {% include "top.html.twig" %}

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Результат оплаты</h2>
                        <div class="content">
                            <p>Успешно!</p>
                            <p>После получения платежа я вышлю вам чек на указанный email.</p>
                            {% if payment %}
                                <table class="table table-striped xs-hidden">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>Сумма</th>
                                        <th>Назначение</th>
                                        <th>Дата платежа</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ payment.id }}</td>
                                        <td>{{ payment.email }}</td>
                                        <td>{{ payment.money }}</td>
                                        <td>{{ payment.description }}</td>
                                        <td>{{ payment.created|date("d.m.Y H:i:s") }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped md-hidden">
                                    <tr>
                                        <th>ID</th>
                                        <td>{{ payment.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ payment.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Сумма</th>
                                        <td>{{ payment.money }}</td>
                                    </tr>
                                    <tr>
                                        <th>Назначение</th>
                                        <td>{{ payment.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Дата платежа</th>
                                        <td>{{ payment.created|date("d.m.Y H:i:s") }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
            </div><!--//primary-->

            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Контактная информация</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Город:</span>Москва, Россия</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:info@mpakfm.ru">info@mpakfm.ru</a></li>
                                <li><i class="fas fa-phone-alt"></i><span class="sr-only">Phone:</span><a href="tel:+79067945511">+7(906) 794-55-11</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://www.mpakfm.ru">https://www.mpakfm.ru</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

{% endblock %}